.brand-filter {
    border-bottom: 1px solid #E4E7E9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .filter-title {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .checkbox-group {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .filter-button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: default; 
    margin-top: 10px; 
    margin-left: 10px;
  }