
.category-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #E4E7E9;
    padding-bottom: 20px;
  }
  
  .category-item {
    margin-right: 10px;
    font-size: 14px;
    color:#475156;
    font-family: sans-serif;
  }
  

